azure-common
azure-core
azure-identity
azure-keyvault-administration
azure-keyvault-keys
azure-keyvault-secrets
azure-keyvault-certificates
azure-storage-blob
azure-storage-queue
azure-mgmt-keyvault
azure-mgmt-guestconfig
azure-mgmt-dns
azure-mgmt-costmanagement
azure-mgmt-compute
azure-mgmt-authorization
azure-mgmt-dnsresolver
azure-mgmt-loganalytics
azure-mgmt-maintenance
azure-mgmt-msi
azure-mgmt-managementgroups
azure-mgmt-monitor
azure-mgmt-network
azure-mgmt-peering
azure-mgmt-portal
azure-mgmt-privatedns
azure-mgmt-quota
azure-mgmt-resourcegraph
azure-mgmt-resource
azure-mgmt-security
azure-mgmt-serialconsole
azure-mgmt-storage
azure-mgmt-storagecache
azure-mgmt-storagepool
azure-mgmt-subscription
azure-mgmt-support
selenium
beautifulsoup4
